.about {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.about__wrapper {
  display: flex;
  padding: 20px 10%;
}
.about__img {
  width: 500px;
  margin-right: 200px;
}
.about__text {
  font-size: 15px;
}
.about__link {
  text-decoration: none;
  color: black;
}
