.about {
  display: flex;
  align-items: center;
  
  
}
.about__wrapper {
  display: flex;
  padding: 0 5%;
}
.about__img {
  height: 702px;
  margin-right: 65px;
}
.about__text {
  font-size: 16px;
}
.about__link {
  color: black;
}
.about__subtext {
  display: inline;
  margin-right: 10px;
}
@media (max-width: 1024px) {
  .about__img {
    height: 602px;
    margin-right: 35px;
  }
}
@media (max-width: 768px) {
  .about__img {
    height: 502px;
    margin-right: 10px;
  }
  .about__text {
    font-size: 20px;
  }
  .about__wrapper {
    padding: 0 1%;
  }
  
}
@media (max-width: 486px) {
  .about__img {
    height: 482px;
    margin-right: 10px;
  }
  .about__wrapper {
    display: block;
    padding: 0 3%;
    margin-bottom: 30px;
  }
  .about__text {
    font-size: 15px;
  }
}