.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  box-shadow: 0px 4px 20px rgba(31, 32, 65, 0.05);
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}
.nav__link {
  margin-right: 32px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.nav__link:hover {
  cursor: pointer;
}
.nav__link:last-child {
  margin-right: 0;
}
.nav__title {
  margin: 0;
  font-size: 34px;
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.nav__title:hover {
  cursor: pointer;
}