@media (max-width: 1440px) {
  
  .images__img {
    width: 120px;
  }
  .ComparisonImage__img {
    height: 700px;
  }
  .ComparisonImage__overlay {
    height: 700px;
  }
  
}

@media (max-width: 1024px) {
  .about__img {
    height: 602px;
    margin-right: 35px;
  }
  .ComparisonImage {
    width: 81%;
  }
  
}


@media (max-width: 768px) {
  .about__img {
    height: 502px;
    margin-right: 10px;
  }
  .about__text {
    font-size: 20px;
  }
  .about__wrapper {
    padding: 0 1%;
  }
  
}

@media (max-width: 486px) {
  .ComparisonImage__img {
    height: 528px;
  }
  .ComparisonImage__overlay {
    height: 528px;
  }
  .images {
    display: none;
  }
  .retouch {
    padding: 0 3%;
  }
  .about__wrapper {
    display: block;
    padding: 0 3%;
    margin-bottom: 30px;
  }
  .about__text {
    font-size: 16px;
  }
}

